
$body-color: #17161d;
$main-color: #222222;
$element-focus: #41099B;
$lnu-color: #FFF400;
$main-border-color: #adadad;

html{
    overflow-y: scroll;
}

body{
    display: grid;
    grid-template-columns: repeat(2, minmax(600px, 1fr));
    column-gap: 10px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: $body-color;
    font-family: 'Monsterrat', sans-serif;
    font-weight: normal;
    margin: 0;
    padding-top: 2em;
    >#header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-column: 1/3;
        align-items: center;
        >.head{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10px;
            >h1{
                color: $lnu-color;
                font-size: 2.8rem;
                grid-column: 2/4;
                font-weight: bold;
                min-width: 600px;
            }
            >img{
                height: 100px;
                width: auto;
                border-radius: 10px;
                justify-self: right;
                align-self: center;
            }
        }
        >.top-nav{
            justify-self: center;
            >.nav{
                display: grid; 
                grid-template-columns: repeat(5, 1fr);
                column-gap: 10px;
                >.button{
                    background-color: $lnu-color;
                    color: black;
                    outline: none;
                    border: none;
                    padding: .7em .4em;
                    font-size: 1em;
                    border-radius: 10px;
                    font-weight: bolder;
                    &:hover{
                        background-color: $element-focus;
                        color: white;
                    }
                }
            }
        }
        &::after{
            content: " ";
            width: 80%;
            height: 10px;
            margin: auto;
            background-color: $lnu-color;
            grid-column: 1/3;
            position: relative;
            top: -26px;
            left: 80px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    >.container{
        background-color: $main-color;
        width: 100%;
        grid-column: 1/3;
        justify-self: center;
        border-top: 1px solid $main-border-color;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 20px;
        padding: 2em 0;
        >.programme{
            color: $lnu-color;
            text-align: center;
            margin: 0;
        }
        >.programmes{
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            >button{
                background-color: $lnu-color;
                padding: 1em;
                font-size: 1.2em;
                font-weight: bold;
                color: black;
                outline: none;
                border: none;
                width: 10%;
                justify-self: center;
                border-radius: 10px;
                &:hover{
                    background-color: $element-focus;
                    color: white;
                }
            }
        }
        >.empty-border-gradient-wrapper{
            padding: 1px;
            background: linear-gradient(to right, $lnu-color, $main-color 50%);
            align-self: center;
            justify-self: center;
            margin-top: 2rem;
            width: 30%;
            >.empty-day{
                font-weight: 100;
                text-align: center;
                color: $lnu-color;
                background-color: $body-color;
                margin: 0;
                padding: 20px 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        >.border-gradient-wrapper{
            padding: 1px;
            background: linear-gradient(to right, $lnu-color, $main-color 20%);
            width: 80%;
            margin: 2em auto 0 auto;
            >.date-schedule{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                background-color: $main-color;
                >.date{
                    padding: 20px;
                    margin: 0;
                    text-align: center;
                    grid-column: 1/5;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                >.lecture{
                    text-align: left;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    >.lecture-num{
                        margin: 0;
                        padding-top: 5px;
                    }
                    >*{
                        font-weight: thin;
                        >.title{
                        font-weight: bold;
                        }
                    }
                }
                >*{
                    background-color: $body-color;
                    color: $lnu-color;
                    padding-left: 20px;
                }
            }
        }
    }
    >footer{
        padding-left: 10px;
    }
}

@media only screen and (max-width: 415px){
    body{
        display: block;
        >header{
            display: block;
            >.head{
                display: grid;
                grid-template-columns: 1fr;
                justify-content: start;
                padding: 10px;
                >img{
                    width: 50px;
                    height: auto;
                    justify-self: start;
                }
                >h1{
                    margin: 0;
                    font-size: 2em;
                }
                
            }
            >.top-nav{
                >.nav{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 10px;
                    padding: 10px;
                    >.button{
                        padding: .5rem 0;
                        font-size: .7rem;
                        font-weight: bold;
                    }
                }
            }
            &::after{
                content: "";
                width: 0;
                height: 0;
            }
        }
        >.container{
            >.empty-border-gradient-wrapper{
                width: 80%;
                >.empty-day{
                    font-size: 1em;
                }
            }
            >.border-gradient-wrapper{
                >.date-schedule{
                    display: grid;
                    grid-template-columns: 1fr;
                    align-items: center;
                    >.date{
                        font-size: .8em;
                        grid-column: 1;
                    }
                    >.lecture{
                        font-size: .7em;

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 321px){
    body{
        >header{
            >.head{
                >h1{
                    font-size: 1.7em;
                }
            }
            >.nav{
                >button{
                    padding: .3rem 0;
                }
            }
        }
    }
}

::-webkit-scrollbar{
    width: 9px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: $body-color;
    border-radius: 3px;
    border: 1px solid $lnu-color;
}